<div class="nav-bar">
  <a href="/#/"><%= image_tag("white-slam-logo.png")%></a>

  <h1 class="greeting">Welcome, <%= current_user.username %>!</h1>
  <form class="user-search-form" action="api/users" method="get">
    <input class="user-search-bar" type="text" name="user[username]" value="" placeholder="User search" onfocus="this.placeholder = ''">
  </form>
  <a class="friendships-link" href="/#/pendingfriendships">
    <div class="friends-div">
      <%= image_tag("friends.png")%>
      <div class="friends-num">
        <%= current_user.pending_invited_by.length unless current_user.pending_invited_by.length == 0 %>
      </div>
    </div>
  </a>
  <div class="logout-button"> <%= button_to 'Logout', session_url, method: :delete %> </div>
  </div>
</div>

<div id="content"></div>

<script type="text/javascript">


  $(function () {
    Fridgeslam.CURRENT_USER = {
      username: "<%= current_user.username %>",
      id: Number("<%= current_user.id %>"),
      pendingSlams: Number("<%= current_user.pending_slams %>")
      }

    $('.user-search-form').submit(function (event) {

    })
  });

  $(Fridgeslam.initialize);

  $(window).resize(setDivVisibility);
  function setDivVisibility(){
       if (($(window).width()) < '1000'){
       $('.greeting').css('display','none');
       } else {
       $('.greeting').css('display','inline-block');
       }
   }

</script>
