<div class="nav-bar">
  <a href="/#/"><img src="assets/white-slam-logo.png" alt="" /></a>

  <h1><%= current_user.username %>'s profile</h1>
  <form class="user-search-form" action="api/users" method="get">
    <input class="user-search-bar" type="text" name="user[username]" value="" placeholder="User search">
  </form>
  <a class="friendships-link" href="/#/pendingfriendships">
    <div class="friends-div">
      <img src="assets/friends.png" alt="" />
      <div class="friends-num">
        <%= current_user.pending_invited_by.length unless current_user.pending_invited_by.length == 0 %>
      </div>
    </div>
  </a>
  <div class="logout-button"> <%= button_to 'Logout', session_url, method: :delete %> </div>
  </div>
</div>
<canvas id="myCanvas">

</canvas>

<div id="content"></div>

<script type="text/javascript">


  $(function () {
    Fridgeslam.CURRENT_USER = {
      username: "<%= current_user.username %>",
      id: "<%= current_user.id %>",
      pendingSlams: "<%= current_user.pending_slams.length %>"
      }

    $('.user-search-form').submit(function (event) {
      // event.preventDefault();
      // alert()
    })
  });

  $(Fridgeslam.initialize);

</script>
<script type="text/javascript">

  var canvasEl = document.getElementsByTagName("canvas")[0];
  canvasEl.height = window.innerHeight;
  canvasEl.width = window.innerWidth;
  new Circles.Game(
    canvasEl.width,
    canvasEl.height
  ).start(canvasEl);
</script>
