<li class="slam-list-item">
  <div class="slam-info">
    <a href="#/slams/<%= slam.escape('id') %>" data-id="<%= slam.escape('id')%>" class="slam-title-link"><%= slam.escape('title') %></a>
    <div class="author-info"> by
      <% if (slam.escape('mode') === 'group') { %>
        <% slam.escape('authors').forEach(function (username) { %>
          <a href="#/users/<%= slam.user().escape('id') %>" class="slam-author-link"><%= slam.user().escape('username') %></a>
        <% })%>
      <% } else { %>
        <a href="#/users/<%= slam.user().escape('id') %>" class="slam-author-link"><%= slam.user().escape('username') %></a>
      <% } %>
    </div>
  </div>
  <div class="slam-likes">
    <p class="slam-likes"><%= slam.likes().length %> likes</p>
  </div>
</li>
