  <div class="">
    <h2 data-id="<%= slam.escape('id')%>" class="slam-show-title"><%= slam.escape('title') %></h2>
    by <a href="#/users/<%= slam.user().escape('id') %>" class="slam-show-author"><%= slam.user().escape('username') %></a>
  </div>
  <div class="slam-body-container">
    <p class="slam-show-body">
      <%= slam.attributes.body && slam.attributes.body.join(' ') %>
    </p>
  </div>

  <div class="slam-likes">
    <p class="slam-likes"><%= slam.likes() %> likes</p>
  </div>
  <button type="button" class="like-button" name="button" data-slam-id="<%= slam.escape('id') %>">LIKE</button>
  <a href="#">Back to list</a>
