<div class="slam-show-container">
  <div class="slam-show-header">
    <h2 data-id="<%= slam.escape('id')%>" class="slam-show-title"><%= slam.escape('title') %></h2>
    by <% if (slam.escape('mode') === 'group') { %>
      <% slam.attributes.slammer_ids.forEach(function (id, index) { %>
        <% if (index === slam.attributes.slammer_ids.length - 1) { %>
          and <a href="#/users/<%= id %>" class="slam-author-link"><%= slam.attributes.authors[index] %></a>
        <% } else if (index === slam.attributes.slammer_ids.length - 2) { %>
          <a href="#/users/<%= id %>" class="slam-author-link"><%= slam.attributes.authors[index] %></a>
        <% } else { %>
          <a href="#/users/<%= id %>" class="slam-author-link"><%= slam.attributes.authors[index] %></a>,
        <% } %>
      <% })%>
    <% } else { %>
      <a href="#/users/<%= slam.user().escape('id') %>" class="slam-author-link"><%= slam.user().escape('username') %></a>
    <% } %>
    at <%= slam.escape('updated_at') %>
  </div>
  <br>
  <div class="slam-body-container">
    <p class="slam-show-body">
      <%= slam.attributes.body && slam.attributes.body.join(' ') %>
    </p>
  </div>
  <% if (!slam.escape('pending')) { %>
    <div class="slam-likes">
      <p class="slam-likes"><%= slam.likes().length %> likes</p>
    </div>
    <button type="button" class="like-button" name="button" data-slam-id="<%= slam.escape('id') %>">LIKE</button>
    <a href="#">Back to dashboard</a>
  <% } else { %>
    <p> PENDING </p>
  <% } %>
</div>
