<div class="nav-bar">
  <a href="/#/"><%= image_tag("white-slam-logo.png")%></a>

  <h1>Welcome, <%= current_user.username %>!</h1>
  <form class="user-search-form" action="/api/users" method="get">
    <input class="user-search-bar" type="text" name="user[username]" value="" placeholder="User search">
  </form>
  <a class="friendships-link" href="/#/pendingfriendships">
    <div class="friends-div">
      <%= image_tag("friends.png")%>
      <%= current_user.pending_invited_by.length unless current_user.pending_invited_by.length == 0 %>
    </div>
  </a>
  <div class="logout-button"> <%= button_to 'Logout', session_url, method: :delete %> </div>
  </div>
</div>


<ul class="user-search-list">
  <% @users.each do |user| %>
    <li><a href="/#/users/<%= user.id %>"><%= user.username %></a></li>
  <% end %>
</ul>


<script type="text/javascript">


  $(function () {
    Fridgeslam.CURRENT_USER = {
    username: "<%= current_user.username %>",
    id: "<%= current_user.id %>",
    pendingSlams: "<%= current_user.pending_slams %>"
    }


    $.ajax({
      url: '/api/dictionary',
      success: function (response) {
        window.dictionary = response;
      }
    });
  });

  $(Fridgeslam.initialize);

</script>
